<ion-header>

  <ion-navbar>
    <ion-title>Dialogflow ChatBot</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="bot-loading-container">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngFor="let message of messages">
    <!--
    <div class="message-wrapper">
      <img class="profile-pic" [ngClass]="{'left':message.from==='bot', 'right':message.from==='user'}" src="https://api.adorable.io/avatars/50/{{message.from}}"/>
      <div class="chat-bubble" [ngClass]="{'left':message.from==='bot', 'right':message.from==='user'}">
        <div class="message-detail">
          <span class="bold">{{message.from}}</span>
          <span>{{timestamp | date:'MM/dd hh:MM'}}</span>
        </div>
        <div class="message" [innerHTML]="message.text" autolinker></div>
      </div>
    </div>
    <div class="cf"></div>
    -->
    <div *ngIf="message.from==='user'">
        <ion-item no-lines>
          <p class="triangle-right left" item-right 
             style="margin-bottom: 0px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
            {{message.text}}
          </p>
        </ion-item>
      </div>
      <div *ngIf="message.from==='bot'">
        <ion-item no-lines>
          <ion-avatar item-start style="margin-bottom: 0px; margin-top: 0px;">
            <img src="img/chatbot.png">
          </ion-avatar>
          <p class="triangle-isosceles right" item-left 
             style="margin-bottom: 0px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
            {{message.text}}
          </p>
        </ion-item>
      </div>
    <div class="spacer" style="height: 15px;"></div>
    <div *ngIf="message.from==='bot' && message.matchFlag === true">
      <ion-slides class="top-slides" pager slidesPerView=3 loop="true">
        <ion-slide class="top-slide" *ngFor="let u of uniforms">
          <img [src]="u.imgPath" (click)="selectedUniform(u)"/>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>

<ion-footer>
  <form [formGroup]="messageForm" (submit)="sendMessage(chatBox)" novalidate>
    <ion-item>
      <ion-input formControlName="message" [(ngModel)]="chatBox" placeholder="Send a message..."></ion-input>
      <button ion-button clear (click)="sendMessage(chatBox)" item-end>
        <ion-icon class="footer-btn" name="send"></ion-icon>
      </button>
    </ion-item>
  </form>
</ion-footer>