.ios {
    page-home {
        .triangle-right {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#99d6ff; // default background for browsers without gradient support
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-right.left {
            margin-left: 60px;
            background:#99d6ff; // 
        }

        .triangle-isosceles {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#eeeeee; // default background for browsers without gradient support 
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-isosceles.left {
            margin-left:50px;
            background:#eeeeee;
        }        
    }
}
.md {
    page-home {

        .triangle-right {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#99d6ff; // default background for browsers without gradient support
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-right.left {
            margin-left: 60px;
            background:#99d6ff;
        }

        .triangle-isosceles {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#eeeeee; // default background for browsers without gradient support 
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-isosceles.left {
            margin-left:50px;
            background:#eeeeee;
        }        
    }
}

page-home {
    /* uniform slider */
  .top-slides {
    height: auto;
  }
  .top-slide {
    height: auto;
    margin-bottom: 25px;
  }
}